/var/
!var/cache/.gitkeep
!var/logs/.gitkeep
/vendor/
/build/
/.idea/
.buildpath
.project
/.settings/
/nbproject/
/node_modules/*
*@eaDir*
.DS_Store
*~

tests/Output/*.dxf
tests/Output/*.dwg
tests/Output/*.bak
